<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>d8amatiks Ltd | Simplifying Data Privacy</title>
    <meta name="keywords" content="GDPR, Data Protection, Data Privacy, Data Compliance">
    <meta name="description" content="GDPR Privacy Protection compliance services, Gap Analysis, GDPR Readiness Solution Toolkit, GDPR Explanations, GDPR Implementation Assist">
    <script src="https://use.typekit.net/gub7oeq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <style>
        body {
            font-family: "europa", Helvetica, sans-serif;
        }
    </style>
    <!--Start of _chatlio Script-->
</head>

<body>
<div class="doc-div-wrapper">
    <%- html %>
</div>
</body>
</html>